In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
tb_rates_csv = "./datasets/tb_rates.csv"
tb_rates_df = pd.read_csv(tb_rates_csv)
tb_rates_df.head()

,Country,National data,Report type,2012 Cases,2012 Rate,ASR,Confirmed cases,2011 Cases,2011 Rate,2010 Cases,2010 Rate,2009 Cases,2009 Rate,2008 Cases,2008 Rate
0,Austria,Y,C,648,7.7,7.6,413,690,8.2,691,8.3,696,8.3,817,9.8
1,Belgium,Y,C,987,8.9,9.1,776,1019,9.3,1086,10,994,9.2,990,9.3
2,Bulgaria,Y,C,2280,31.1,30.6,1092,2406,32.6,2649,35,2910,38.3,3150,41.2
3,Cyprus,Y,C,69,8,7.8,50,54,6.4,61,7.4,55,6.9,50,6.3
4,Czech Republic,Y,C,605,5.8,5.6,421,600,5.7,668,6.4,694,6.7,864,8.3

In [5]:
tb_rates_df.drop(["National data", "Report type", "ASR", "Confirmed cases"], axis=1, inplace=True)
tb_rates_df

,Country,2012 Cases,2012 Rate,2011 Cases,2011 Rate,2010 Cases,2010 Rate,2009 Cases,2009 Rate,2008 Cases,2008 Rate
0,Austria,648,7.7,690,8.2,691,8.3,696,8.3,817,9.8
1,Belgium,987,8.9,1019,9.3,1086,10,994,9.2,990,9.3
2,Bulgaria,2280,31.1,2406,32.6,2649,35,2910,38.3,3150,41.2
3,Cyprus,69,8,54,6.4,61,7.4,55,6.9,50,6.3
4,Czech Republic,605,5.8,600,5.7,668,6.4,694,6.7,864,8.3
5,Denmark,389,7,381,6.9,366,6.6,334,6.1,380,6.9
6,Estonia,290,21.6,339,25.3,333,24.8,411,30.7,444,33.1
7,Finland,274,5.1,324,6,320,6,413,7.8,341,6.4
8,France,4978,7.6,4991,7.7,5116,7.9,5276,8.2,5758,9
9,Germany,4220,5.2,4317,5.3,4387,5.4,4444,5.4,4523,5.5
10,Greece,557,4.9,489,4.3,487,4.3,589,5.2,664,5.9
11,Hungary,1223,12.5,1445,14.7,1741,17.7,1407,14.2,1619,16.4
12,Ireland,366,8,414,9.1,420,9.4,479,10.8,468,10.6
13,Italy,3142,5.2,3521,5.8,4692,7.8,4244,7.1,4418,7.4
14,Latvia,993,48.6,885,42.7,935,41.6,977,43.2,1070,47.1
15,Lithuania,1781,59.2,1904,62.4,1938,58.2,2081,62.1,2250,66.8
16,Luxembourg,45,8.6,26,5.1,29,5.8,27,5.5,28,5.8
17,Malta,43,10.3,33,7.9,32,7.7,44,10.7,53,13
18,Netherlands,958,5.7,1003,6,1068,6.4,1158,7,1015,6.2
19,Poland,7542,19.6,8478,22,7509,19.7,8236,21.6,8080,21.2
20,Portugal,2590,25.2,2612,25.3,2727,26.1,2871,27.5,3002,28.8
21,Romania,18197,85.2,19205,89.7,21059,98.1,23164,107.8,24680,114.6
22,Slovakia,345,6.4,399,7.4,439,8.1,506,9.4,633,11.7
23,Slovenia,138,6.7,192,9.4,172,8.4,188,9.3,213,10.6
24,Spain,5991,13,6798,14.7,7239,15.7,7592,16.6,8216,18.1
25,Sweden,632,6.7,580,6.2,667,7.1,617,6.7,546,5.9
26,United Kingdom,8751,14.2,8899,14.3,8397,13.6,8900,14.4,8532,14
27,EU Total,68034,13.6,72004,14.4,75228,15,79307,15.9,82804,16.7
28,Iceland,11,3.4,9,2.8,22,6.9,9,2.8,6,1.9
29,Liechtenstein,-,-,-,-,-,-,-,-,-,-
30,Norway,378,7.6,354,7.2,336,6.9,358,7.5,313,6.6

In [6]:
new_tb_rates_df = tb_rates_df.drop([27, 29], axis=0)
new_tb_rates_df

,Country,2012 Cases,2012 Rate,2011 Cases,2011 Rate,2010 Cases,2010 Rate,2009 Cases,2009 Rate,2008 Cases,2008 Rate
0,Austria,648,7.7,690,8.2,691,8.3,696,8.3,817,9.8
1,Belgium,987,8.9,1019,9.3,1086,10,994,9.2,990,9.3
2,Bulgaria,2280,31.1,2406,32.6,2649,35,2910,38.3,3150,41.2
3,Cyprus,69,8,54,6.4,61,7.4,55,6.9,50,6.3
4,Czech Republic,605,5.8,600,5.7,668,6.4,694,6.7,864,8.3
5,Denmark,389,7,381,6.9,366,6.6,334,6.1,380,6.9
6,Estonia,290,21.6,339,25.3,333,24.8,411,30.7,444,33.1
7,Finland,274,5.1,324,6,320,6,413,7.8,341,6.4
8,France,4978,7.6,4991,7.7,5116,7.9,5276,8.2,5758,9
9,Germany,4220,5.2,4317,5.3,4387,5.4,4444,5.4,4523,5.5
10,Greece,557,4.9,489,4.3,487,4.3,589,5.2,664,5.9
11,Hungary,1223,12.5,1445,14.7,1741,17.7,1407,14.2,1619,16.4
12,Ireland,366,8,414,9.1,420,9.4,479,10.8,468,10.6
13,Italy,3142,5.2,3521,5.8,4692,7.8,4244,7.1,4418,7.4
14,Latvia,993,48.6,885,42.7,935,41.6,977,43.2,1070,47.1
15,Lithuania,1781,59.2,1904,62.4,1938,58.2,2081,62.1,2250,66.8
16,Luxembourg,45,8.6,26,5.1,29,5.8,27,5.5,28,5.8
17,Malta,43,10.3,33,7.9,32,7.7,44,10.7,53,13
18,Netherlands,958,5.7,1003,6,1068,6.4,1158,7,1015,6.2
19,Poland,7542,19.6,8478,22,7509,19.7,8236,21.6,8080,21.2
20,Portugal,2590,25.2,2612,25.3,2727,26.1,2871,27.5,3002,28.8
21,Romania,18197,85.2,19205,89.7,21059,98.1,23164,107.8,24680,114.6
22,Slovakia,345,6.4,399,7.4,439,8.1,506,9.4,633,11.7
23,Slovenia,138,6.7,192,9.4,172,8.4,188,9.3,213,10.6
24,Spain,5991,13,6798,14.7,7239,15.7,7592,16.6,8216,18.1
25,Sweden,632,6.7,580,6.2,667,7.1,617,6.7,546,5.9
26,United Kingdom,8751,14.2,8899,14.3,8397,13.6,8900,14.4,8532,14
28,Iceland,11,3.4,9,2.8,22,6.9,9,2.8,6,1.9
30,Norway,378,7.6,354,7.2,336,6.9,358,7.5,313,6.6

In [7]:
eu_countries = new_tb_rates_df["Country"]
eu_list = eu_countries.to_list()
eu_list

['Austria',
 'Belgium',
 'Bulgaria',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Netherlands',
 'Poland',
 'Portugal',
 'Romania',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'United Kingdom',
 'Iceland',
 'Norway']

In [8]:
immunisation_csv = "./datasets/BSG_NEW.csv"
immunisation_df = pd.read_csv(immunisation_csv)
immunisation_df

                                Country  2012  2011  2010  2009  2008
0                           Afghanistan  78.0  71.0  68.0  64.0  66.0
1                               Albania  96.0  97.0  99.0  97.0  99.0
2                               Algeria  99.0  99.0  99.0  99.0  99.0
3                                Angola  73.0  74.0  79.0  70.0  73.0
4                             Argentina  99.0  99.0  99.0  99.0  99.0
..                                  ...   ...   ...   ...   ...   ...
159  Venezuela (Bolivarian Republic of)  96.0  95.0  92.0  91.0  90.0
160                            Viet Nam  98.0  98.0  94.0  97.0  92.0
161                               Yemen  64.0  59.0  65.0  58.0  60.0
162                              Zambia  92.0  92.0  92.0  92.0  91.0
163                            Zimbabwe  98.0  98.0  99.0  90.0  91.0

[164 rows x 6 columns]

In [10]:
protocol = 'postgresql'
username = '<postgres>'
password = '<!>'
host = 'localhost'
port = 5432
database_name = 'tuberculosis_db'
#rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine('postgresql+psycopg2://postgres:!@localhost/tuberculosis_db')

In [12]:
engine.table_names()

['immunisation', 'reported_cases']